on:
  [push, pull_request]
  
jobs:
  build-container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source files
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Show files
        run:  set ; pwd ; ls -l
      - name: Build the Docker Container
        run: docker image build -t infinitime-build ./docker
      - name: Run the container
        run: docker run --rm -v  $(pwd):/sources infinitime-build
  
